<div class="card has-shadow">
    <header class="card-header">
        <h1 class="card-header-title"> Contacts </h1>
    </header>
    <div class="card-content">
        <div *ngIf="error">
            <div class="notification is-danger has-text-centered">Error Loading Contacts.</div>
        </div>

        <div *ngIf="!error">

            <div class="control is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" name="searchText" #filter (keyup)="0"
                           placeholder="Search for a name or company"/>
                </p>
            </div>

            <table class="table is-striped is-narrow">
                <thead>
                <tr>
                    <th (click)="setOrder('firstName')">Firstname
                        <span class="icon is-small">
                            <i [ngClass]="{'fa':true, 'fa-caret-down':order.asc && order.property === 'firstName','fa-caret-up':!order.asc && order.property === 'firstName'}"></i>
                        </span>
                    </th>
                    <th (click)="setOrder('lastName')">Lastname
                        <span class="icon is-small">
                            <i [ngClass]="{'fa':true, 'fa-caret-down':order.asc && order.property === 'lastName','fa-caret-up':!order.asc && order.property === 'lastName'}"></i>
                        </span>
                    </th>
                    <th (click)="setOrder('company')">Company
                        <span class="icon is-small">
                            <i [ngClass]="{'fa':true, 'fa-caret-down':order.asc && order.property === 'company','fa-caret-up':!order.asc && order.property === 'company'}"></i>
                        </span>
                    </th>
                    <th>E-Mail</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Company</th>
                    <th>E-Mail</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
                </tfoot>
                <tbody>
                <tr *ngFor="let contact of contacts | filterBy:filter.value | orderBy:order.property:order.asc">
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.lastName}}</td>
                    <td>{{contact.company}}</td>
                    <td>{{contact.emails[0] ? contact.emails[0].address : ""}}</td>
                    <td>{{contact.phones[0] ? contact.phones[0].number : ""}}</td>
                    <td>
                        <a [routerLink]="[contact._id]"> <span class="icon"><i class="fa fa-info-circle"></i></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
