<nav class="nav has-shadow" role="navigation">
	<div class="container">
		<div class="nav-left">
			<span class="nav-item">
					<span class="title is-5">CRM Prototype Angular</span>
			</span>
			<a class="nav-item is-tab is-hidden-mobile" routerLink="/contacts" routerLinkActive="is-active">Contacts</a>
			<a class="nav-item is-tab is-hidden-mobile" routerLink="/companies" routerLinkActive="is-active">Companies</a>
			<a class="nav-item is-tab is-hidden-mobile" routerLink="/transactions" routerLinkActive="is-active">Transactions</a>
			<a class="nav-item is-tab is-hidden-mobile" routerLink="/manymore" routerLinkActive="is-active">About</a>
		</div>
		<span class="nav-toggle">
      <span></span>
		<span></span>
		<span></span>
		</span>
		<div class="nav-right nav-menu">
			<a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
			<a class="nav-item is-tab is-hidden-tablet">Features</a>
			<a class="nav-item is-tab is-hidden-tablet">Pricing</a>
			<a class="nav-item is-tab is-hidden-tablet">About</a>
			<a class="nav-item is-tab">Profile</a>
			<a class="nav-item is-tab">Log out</a>
		</div>
	</div>
</nav>